@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin responsive-img($width: 120px) {
    max-width: $width;
    height: auto;
    object-fit: contain;
}
